@model IEnumerable<TicketThijsMateo.ViewModels.WedstrijdVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StadiumId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stadium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThuisPloeg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UitPloeg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StadiumId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stadium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThuisPloeg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UitPloeg)
            </td>
                <td>
                    @* @Html.ActionLink("Edit", "Edit", new {  id=item.Biernr  }) |
                @Html.ActionLink("Details", "Details", new { id=item.Biernr }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Biernr }) *@


                    @if ((item.Datum - DateTime.Now).Value.TotalDays < 30)
                    {
                        <a asp-action="Create" asp-route-id="@item.Id">
                            <button class="btn btn-primary">Buy Ticket</button>
                        </a>
                    }
                    else
                    {
                        <button class="btn btn-primary" disabled>Buy Ticket</button>
                    }

                </td>
        </tr>
}
    </tbody>
</table>
