@model TicketThijsMateo.ViewModels.ShoppingCartVM

@{
    ViewData["Title"] = "Index";
}

<h3>
    <em>Review</em> your cart:
</h3>



@if (Model != null)
{

    <form asp-action="Payment">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ticket[0].WedstrijdId)

                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Ticket[0].Betaald)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ticket[0].Voornaam)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ticket[0].Familienaam)

                </th>
        
            </tr>

            @foreach (var item in Model.Ticket)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WedstrijdId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Betaald)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Voornaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Familienaam)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-bierNr="@item.WedstrijdId">

                            <img src="~/Images/deleteIcon.png" />
                        </a>

                    </td>
                </tr>
            }

      @*       <tr>
                <td>
                    <input type="submit" value="Checkout"
                           class="btn btn-default" />
                </td>
            </tr>
            <tr>

                <td id="cart-total">
                    Total  <input id="txtTotal" value="@total"
                                  type="number" readonly="readonly" />
                </td>
            </tr> *@
        </table>
    </form>
}
else
{
    @Html.Raw("Your shoppingcart is empty at the moment")
}


<a asp-controller="Beer" asp-action="Index"> Continue</a>