@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model TicketThijsMateo.ViewModels.ShoppingCartVM

@{
    ViewData["Title"] = "Index";
}

<h3>
    <em>Review</em> your cart:
</h3>

@if(Model != null)
{
    @if (Model.Ticket != null)
    {
        <form asp-action="Payment" class="form-control mb-3">
            <table>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Ticket[0].WedstrijdId)</th>
                    <th>@Html.DisplayNameFor(model => model.Ticket[0].Betaald)</th>
                    <th>@Html.DisplayNameFor(model => model.Ticket[0].Voornaam)</th>
                    <th>@Html.DisplayNameFor(model => model.Ticket[0].Familienaam)</th>
                </tr>
                @foreach (var item in Model.Ticket)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.WedstrijdId)</td>
                        <td>@Html.DisplayFor(modelItem => item.Betaald)</td>
                        <td>@Html.DisplayFor(modelItem => item.Voornaam)</td>
                        <td>@Html.DisplayFor(modelItem => item.Familienaam)</td>
                        <td>
                            <a asp-action="Delete" asp-route-wedstrijdId="@item.WedstrijdId">
                                <img src="~/Images/delete.png" style="width:25px;height:25px" />
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </form>
    }
    @if (Model.Subscription != null)
    {
        <form asp-action="Payment" class="form-control mb-3">
            <table>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Subscription[0].ClubId)</th>
                    <th>@Html.DisplayNameFor(model => model.Subscription[0].Betaald)</th>
                    <th>@Html.DisplayNameFor(model => model.Subscription[0].Voornaam)</th>
                    <th>@Html.DisplayNameFor(model => model.Subscription[0].Familienaam)</th>
                </tr>
                @foreach (var item in Model.Subscription)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ClubId)</td>
                        <td>@Html.DisplayFor(modelItem => item.Betaald)</td>
                        <td>@Html.DisplayFor(modelItem => item.Voornaam)</td>
                        <td>@Html.DisplayFor(modelItem => item.Familienaam)</td>
                        <td>
                            <a asp-action="DeleteSubscription" asp-route-clubId="@item.ClubId">
                                <img src="~/Images/delete.png" style="width:25px;height:25px" />
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </form>
    }
} else
{
    @Html.Raw("Your shopping cart is empty at the moment")
}

<div>
    @if (SignInManager.IsSignedIn(User))
    {
        <h5>You are logged in </h5>

        <button class="btn">
            <a asp-controller="ShoppingCart" asp-action="Index"> Bestel</a>
        </button>
    }
    else
    {
        <h5>Please log in before ordering</h5>
        <button class="btn btn-primary">
            <a class="text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </button>
        <button class="btn btn-primary">
            <a class="text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </button>
    }
</div>


